.fx,
.fx-fill {
  display: flex;

  &.row, &:not(.column) {
    flex-direction: row;

    &.stretch {
      justify-content: stretch;
    }

    &.reverse {
      flex-direction: row-reverse;

      &.h-start {
        justify-content: flex-end;
      }

      &.h-end {
        justify-content: flex-start;
      }
    }

    &.h-start {
      justify-content: flex-start;
    }

    &.h-center {
      justify-content: center;
    }

    &.h-end {
      justify-content: flex-end;
    }

    &.v-start {
      align-items: flex-start;
    }

    &.v-center {
      align-items: center;
    }

    &.v-end {
      align-items: flex-end;
    }
  }

  &.column {
    flex-direction: column;

    &.stretch {
      align-items: stretch;
    }

    &.reverse {
      flex-direction: column-reverse;

      &.v-start {
        justify-content: flex-end;
      }

      &.v-end {
        justify-content: flex-start;
      }
    }

    &.v-start {
      justify-content: flex-start;
    }

    &.v-center {
      justify-content: center;
    }

    &.v-end {
      justify-content: flex-end;
    }

    &.h-start {
      align-items: flex-start;
    }

    &.h-center {
      align-items: center;
    }

    &.h-end {
      align-items: flex-end;
    }
  }

  &.h-v-center {
    justify-content: center;
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }

  &.fx-fill > * {
    min-height: 100%;
    flex: 1;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .self-start {
    align-self: flex-start;
  }

  .self-center {
    align-self: center;
  }

  .self-end {
    align-self: flex-end;
  }

  .self-stretch {
    align-self: stretch;
  }

  .fx-1 {
    flex: 1;
  }

  .fx-2 {
    flex: 2;
  }

  .fx-3 {
    flex: 3;
  }

  .fx-4 {
    flex: 4;
  }

  .fx-5 {
    flex: 5;
  }

  .ord-1 {
    order: 1;
  }

  .ord-2 {
    order: 2;
  }

  .ord-3 {
    order: 3;
  }

  .ord-4 {
    order: 4;
  }

  .ord-5 {
    order: 5;
  }
}

