/* You can add global styles to this file, and also import other style files */

@import 'sizes';
@import 'palette';
@import 'flex-layout';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-bg;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparentize($scrollbar-thumb-bg, .5);
  cursor: pointer;
}
