@import 'palette';
@import 'sizes';

.main-page {
  height: 100vh;
  width: 100vw;

  &__header {
    height: $headerHeight;
    width: 100%;
    background-color: $headerBackgroundColor;
    color: white;
    font-weight: 500;

    img {
      margin: 0 16px;
    }
  }

  &__content {
    padding: $contentPadding;
    height: calc(100vh - #{$headerHeight});
    width: 100%;
    user-select: none;
  }
}

.toolbar {
  height: $tableActionsHeight;
  margin: 0 0 map-get($offsets, lg);

  &__actions {
    & > button:not(:first-child) {
      margin: 0 0 0 16px;
    }
  }

  &__info {
    .counter {
      margin: 0;

      &:not(:first-of-type) {
        margin: 0 0 0 map-get($offsets, lg);
      }
    }
  }
}

.table {
  width: calc(100vw - (#{$contentPadding * 2}));
  height: calc(100vh - (#{$headerHeight + map-get($offsets, lg) + $tableActionsHeight + $contentPadding * 2}));
  overflow: auto;
}

.h-72 {
  height: $rowHeight;
}

.w-80 {
  width: map-get($widths, action);
}

.w-150 {
  min-width: map-get($widths, column);
  padding: 4px 8px;
}

.p-24 {
  padding-right: map-get($offsets, md);
}

